@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	font-size: 16px;
	--primaryColor: #6050cd;
	--primaryHoverColor: #3b2a93;
	--white: #fafaff;
	--successColor: #5fad95;
	--errorColor: #ee5554;
	--bgSecondary: #f5f5fd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
	color: #333;
}

.nav-container {
	width: 100%;
	top: 0;
	height: max-content;
	background-color: var(--bgSecondary);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
	width: 80vw;
	max-width: 1300px;
	height: max-content;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.nav-main {
	display: flex;
	gap: 32px;
}

.nav-main header a {
	color: #333;
	display: flex;
	align-items: center;
	gap: 8px;
}

.nav-main ul {
	display: flex;
	gap: 32px;
	font-size: 16px;
	font-weight: bold;
}

.nav-main ul a {
	color: #333;
}

.nav-login {
	display: flex;
	gap: 16px;
}

.nav-login a {
	padding: 4px 16px;
	border-radius: 4px;
	font-weight: bold;
}

#signin {
	background-color: var(--primaryColor);
	color: #fff;
	transition: all ease 0.3s;
}

#signin:hover {
	background-color: var(--primaryHoverColor);
}

#login {
	color: var(--primaryColor);
	background-color: #fff;
	border: 1px solid var(--primaryColor);
	transition: all ease 0.3s;
}

#login:hover {
	box-shadow: 0 1px 4px rgba(96, 80, 205, 0.5);
}

h1 {
	background: linear-gradient(to right, #2400ff, #9d00ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	margin: 4px 0 32px 0;
}

.container {
	width: 80vw;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}

.description {
	display: flex;
	align-items: center;
	gap: 16px;
}

.description p {
	border: 2px solid var(--primaryColor);
	border-radius: 8px;
	padding: 16px;
	height: max-content;
	box-shadow: 0 2px 8px rgba(96, 80, 205, 0.5);
	background-color: #f5f5fd;
}

.description p span {
	font-weight: bold;
}

.description i {
	color: var(--primaryColor);
}

.playground {
	width: 100%;
	height: 500px;
	border: 2px solid var(--primaryColor);
	border-radius: 10px;
	margin-top: 100px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(96, 80, 205, 0.5);
	background-color: #f5f5fd;
}

.playground-header {
	width: 100%;
	background-color: var(--primaryColor);
	font-weight: bold;
	color: #fff;
	text-align: start;
	padding: 6px 20px;
	box-sizing: border-box;
}

.playground-header i {
	margin-right: 4px;
}

.playground-content {
	width: 100%;
	height: calc(100% - 37px);
	display: flex;
}

.playground-sidebar {
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 16px;
}

.playground-sidebar-button {
	width: 100%;
	height: max-content;
	padding: 8px 16px;
	border: none;
	background-color: var(--primaryColor);
	color: #fff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	border-radius: 4px;
}

.playground-sidebar-button:hover {
	transition: background-color ease 0.3s;
	background-color: var(--primaryHoverColor);
}

.playground-input {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.playground-input button {
	width: 100%;
	height: max-content;
	padding: 8px 16px;
	border: none;
	background-color: var(--primaryColor);
	color: #fff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
}

.playground-input button:hover {
	transition: background-color ease 0.3s;
	background-color: var(--primaryHoverColor);
}

.playground-input input {
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	padding: 8px 16px;
	border: none;
	font-size: 12px;
}

.playground-input input:focus {
	outline: none;
}

.playground-right {
	width: 80%;
}

.playground-log {
	box-sizing: border-box;
	height: 35%;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: start;
	padding: 16px;
	font-size: 12px;
	overflow-y: scroll;
}

.playground-log .success {
	color: var(--successColor);
}

.playground-log .error {
	color: var(--errorColor);
}

.playground-display {
	box-sizing: border-box;
	height: 65%;
	width: 100%;
	display: flex;
	gap: 20px;
	padding: 16px;
}

.node {
	width: 100px;
	height: 50px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	position: relative;
}

.node-data {
	width: 90%;
	height: 100%;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: inherit;
}

.node-link {
	width: 10%;
	height: 100%;
}

.node i {
	color: var(--primaryColor);
	position: absolute;
	right: -12px;
	top: calc(50% - 16px / 2);
}
